/*projekti.html stili*/

form {
  display: inline-block;
  }

.btn {
  border: none;
  background-color: white;
  padding: 14px 28px;
  font-size: 30px;
  width: 150px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;   
  }

  .btn:hover {background: rgb(244, 246, 248);}

.MJT {
  margin-left: 10%; 
  margin-right: 40%; 
  padding-top: 0px; 
  margin-bottom: 5%;
  }

.sakums {
  color: olive;
  }

.projekti {
  color: olive;
  }

.prasmes {
  color: olive;
  }

.sazinies {
  color: olive;
  }

figure {
    padding: 4px;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
  
figcaption {
    font-size: 25px;
    padding: 2px;
    font-family: 'Lobster', cursive;
    }

  
h1 {
    font-family: 'Lobster', cursive;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

p {
    margin-bottom: 5%;
  }

footer {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  text-align: center ;
  align-content: center;
  }

